[*.cs]

# dotnet_analyzer_diagnostic.severity = suggestion
# 
# dotnet_analyzer_diagnostic.category-Design.severity = warning
# dotnet_analyzer_diagnostic.category-Naming.severity = warning
# 
# dotnet_diagnostic.CA1040.severity = warning
# dotnet_diagnostic.CA1712.severity = warning
# dotnet_diagnostic.CA1010.severity = warning
# dotnet_diagnostic.CA1070.severity = warning
# dotnet_diagnostic.CA1417.severity = warning